$text-color: #777777
$bg-color: #FFFFFF
    
body
    +roboto
    font-size: 14px
    line-height: 1.4
    font-weight: 400
    color: $text-color
    background-color: $bg-color

.container
    max-width: 940px
    margin: 0 auto
    border: 1px solid red
    padding: 0 15px