$text-color: #777777
$bg-color: #FFFFFF
    
body
    +roboto
    font-size: 14px
    line-height: 1.4
    font-weight: 400
    color: $text-color
    background-color: $bg-color

.container
    width: 940px
    margin: 0 auto    
    padding: 0 15px

.button
    display: inline-block
    padding: 20px 50px
    +montserratB
    font-size: 18px
    color: #ffffff
    text-transform: uppercase
    background-color: #FED136
    cursor: pointer
    border: none
    border-radius: 3px

input, textarea    
    display: block
    padding: 18px 20px   
    min-width: 415px 
    +montserratB    
    border: 1px solid #cccccc
    border-radius: 3px    
    background-color: #ffffff
    resize: none
    &::-webkit-input-placeholder        
       color: #bbbbbb
       text-transform: uppercase